* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #CFD2CD;
}
header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

header h1 {
  border: 2px solid black;
  padding: 1rem;
  border-radius: 2.5rem;
  background-color: #132E32;
  width: 50vw;
  text-align: center;
  color: wheat;
}
h3 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
}
.container {
  margin-top: 2rem;
  /* border: 0.2rem solid black; */
  /* background-color: #abd2fa; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto
}

.msg{
  /* align-self: flex-start; */
  /* align-self: center; */
  border: 1px solid black;
  padding: 0.5rem 2rem;
}

.content{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5rem;
  padding: 2rem;
  margin-top: 2rem;
}
.choose {
  width: 90vw;
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.time-option {
  border: 2px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  color: white;
  background-color: #3d5467;
  cursor: pointer;
}
.time-option:hover{
  opacity: 0.8;
}
.timer-box {
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  background-color: #efe1e1;
  height: 20vh;
  border-radius: 4rem;
}
.timer-box p {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 1rem;
}
.time {
  height: 100px;
  width: 100px;
  /* background-color: blue; */
  /* border-radius: 30px;
  background: linear-gradient(225deg, #e6e6e6, #ffffff);
  box-shadow: -5px 5px 10px #666666, 5px -5px 10px #ffffff; */

  /* border-radius: 38px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 18px 18px 6px #666666, -18px -18px 6px #ffffff; */
  border-radius: 21px;
  background: #efe1e1;
  box-shadow: inset 10px 10px 5px #605a5a, inset -10px -10px 5px #ffffff;

  /* border-radius: 38px;
  background: linear-gradient(225deg, #e6e6e6, #ffffff);
  box-shadow: -18px 18px 6px #666666, 18px -18px 6px #ffffff; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: bold;
  color: #114b5f;
}

.control-btn {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  column-gap: 5rem;
}
.control-btn button {
  border: 2px solid black;
  border-radius: 1rem;
  padding: 1rem 2rem;
  color: white;
  font-weight: 500;
  background-color: #114b5f;
  cursor: pointer;
}
.control-btn button:hover{
  opacity: 0.8;
}
.devName{
  align-self: flex-end;
  margin: 3rem 1rem 0 0 ;
  letter-spacing: 4px;
}

@media screen and (max-width: 900px) {
  header h1{
    width: 77vw;
  }
  .container{
    width: 100vw;
  }
  .content{
    width: 100vw;
  }
  .control-btn {
    width: 90vw;
    column-gap: 2rem;
  }
  .timer-box {
    width: 90vw;
  }
  .choose {
    width: 90vw;
    column-gap: 1rem;
  }
  .devName{
    align-self: center;
    margin: 4rem 1rem 0 0 ;
    letter-spacing: 4px;
  }
  
}
